@using NetCoreAssignment2.Models
@model IEnumerable<Person>

@{
    ViewData["Title"] = "Index";
}
<h1>People</h1>
<hr />
<a class="btn btn-success mb-3" asp-action="Create">Create new person</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Dob</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Birth Place</th>
            <th scope="col">Graduated</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.FirstName</th>
                <td>@item.LastName</td>
                <td>
                    @(item.Gender == true ? "Male" : "Female")
                </td>
                <td>@item.Dob</td>
                <td>@item.PhoneNumber</td>
                <td>@item.BirthPlace</td>
                <td>@item.IsGraduated</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteModal@(item.Id)">
                        Delete
                    </button>
                </td>
            </tr>

            <div class="modal fade" id="deleteModal@(item.Id)" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete person</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <b>First name:</b> @item.FirstName
                            <br/>
                            <b>Last name:</b> @item.LastName
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a class="btn btn-danger" asp-action="ConfirmDelete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
